


/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.center-alignement
{
    display:flex;
    align-items: center;
    justify-content: center;
}

.fa-solid {
    color: var(--main-color);
}

/**Menu**/
.menu
{
    display:flex;
    justify-content:space-between;
}

.menu img 
{
    padding-bottom: 6%;
    padding-top: 2%;
    width : 7%;
}

.blue-bar :hover
{
    color : var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top:13%;
}
.menu section 
{
    display:flex;
    gap: 80px; 
    align-items:end;
    padding-bottom: 6%;
}

h1
{
    margin-left:-5px;
}

p 
{
    font-size: 130%;
}

body 
{
    display: flex;
    justify-content: center;
}

/**form section**/
form
{
    display: flex;
}

.search-bar
{
    display: flex;
    width: 377px;
    height: 49px;
    align-items: center;
    gap: 24px;
}

.search-bar i 
{
    color: black;
    background-color: #F2F2F2;    
    font-size: 30px; 
    border-radius: 15px 0px 0px 15px;
    height:53px;
    width:60px;
    position: absolute;
}

.search-bar input
{
    font-size:18px;
    font-weight:700;
    text-align: center;
}


/**need help to the border when active**/

.search
{
    border-radius: 15px;
    border: 1px solid var(--Grey, #F2F2F2);
    background: white;
    width: 377px;
    height: 49px;
    margin-right: -20px;
    padding: 1.5px;   
}


.search-button
{
    position: relative;
    background-color: var(--main-color);
    color:white;
    height: 53.5px;
    padding: 15px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
}

/**filters section**/
.filters
{
    display: flex; 
    margin-top: 20px;  
}

.filters h2
{
    margin-top: 40px;
    flex-direction: row;
}

.filters section 
{
    display: flex; 
    margin-top: 20px; 
}

.filters a
{    
    width : 180px;
    font-size:18px;
    font-weight: 700;
    border-radius: 40px;
    margin-left: 20px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);   
}

.filters section :hover
{
    background-color: #DEEBFF;
}

.filters i
{
    text-align: center;  
    padding:5px;
}

/*Information section*/
.info i
{
    border-radius: 40px;
    background-color: white;    
    border: 2px solid var(--grey-tint-2, #D9D9D9); 
    box-sizing: border-box;
    font-size: 15px;
    text-align:center;
    height: 20px;
    width: 20px;
}

/**card section**/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergements .card
{
    display: flex;
    flex-direction: column;
    width: 280px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-weight: 700;
    font-size: 16px;
    object-fit: cover;    
}


.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.show-more
{
    margin-top: 50px;
    margin-left: 20px;
}
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;    
}


.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.hebergements-card
{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergement-cards .fa-star
{
    margin : -1px;
}
.hebergement-cards  .card-subtitle
{
    margin-top:-10px;
}
.hebergement-cards .card-content
{
    margin-left: 10px;   
}

/****** Hebergements ***********/
.hebergements {
    margin-right:30px;
}

.hebergements-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergement-cards
{
    display: flex;
    justify-content: space-between;
    gap:30px;
    flex-flow: row wrap;
    margin-top: 33px;   
}


.hebergements .card
{
    display:flex;
    align-items: flex-start;
    
}

.hebergement-cards img
{
    height: 140px;
    align-self: stretch;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 42%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 40%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/** ACTIVITES **/
.activites
{
    display: flex;
    padding: 30px;
    gap: 30px;
}

.activites-title
{
    padding:30px;
    margin-bottom: -30px;
}
.activites-card
{
    width : 297px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activites-card img
{
    object-fit:cover;
    width : 297px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activites-card h2
{
    display: flex;
    padding-left:20px;
    border-radius: 0px 0px 20px 20px;
    font-size: 16px;
}

footer 
{    
    display: flex;
    background: var(--Grey, #F2F2F2);
    line-height: 230%;
}
footer .a-propos
{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.nos-hebergements, .assistance
{
    display: flex;
    flex-direction: column;
    padding-left: 300px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/*1024 à 1440px*/
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px)  */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}