/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.center-alignement {
    display:flex;
    align-items: center;
    justify-content: center;
}
.fa-solid {
    color: var(--main-color);
}

/**Menu**/
.menu {
    display:flex;
    justify-content:space-between;
}

/*margin issue*/
.menu-img {
    padding-bottom: 6%;
    padding-top: 2%;
    width : 7%;
}

.blue-bar {
    margin-left: 80%;
    margin-top:-20%;
}
.blue-bar :hover {    
    color : var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top:13%;
}
.menu section {
    display:flex;
    gap: 30%; 
    align-items:end;
    padding-bottom: 6%;
}

h1 {
    margin-left:-5px;
}
p {
    font-size: 130%;
}

body {
    display: flex;
    justify-content: center;
    margin:0px;
    margin-top: -0.9%;
    width: 100%;
    height: 100%;
}

/**form section**/
form {
    display: flex;
}
.search-bar {
    display: flex;
    width: 377px;
    height: 49px;
    align-items: center;
    gap: 24px;
}
.search-bar .fa-location-dot {
    color: black;
    background-color: #F2F2F2;    
    font-size: 30px; 
    border-radius: 15px 0px 0px 15px;
    height:53px;
    width:60px;
    position: absolute;
}
.search-bar input {
    font-size:18px;
    font-weight:700;
    text-align: center;
}

/**need help to the border when active**/
.search {
    border-radius: 15px;
    border: 1px solid var(--Grey, #F2F2F2);
    background: white;
    width: 377px;
    height: 49px;
    margin-right: -20px;
    padding: 1.5px;   
}
.search-button {
    visibility: visible;
    position: relative;
    margin-top: -16px;
    background-color: var(--main-color);
    color:white;
    height: 53.5px;
    padding: 15px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
}
.fa-search
{
    visibility: hidden;
}

/**filters section**/
.filters {
    display: flex; 
    margin-top: 20px;  
}
.filters h2 {
    margin-top: 40px;
    flex-direction: row;
}
.filters section {
    display: flex; 
    margin-top: 30px; 
}
.filters a {    
    width : 180px;
    height: 40px;
    font-size:18px;
    font-weight: 700;
    border-radius: 40px;
    margin-left: 20px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);   
}
.filters section :hover {
    background-color: #DEEBFF;
}
.filters i {
  
    text-align: center;  
    padding:5px;
}

/*Information section*/
.info i {
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: white;    
    border: 2px solid var(--grey-tint-2, #D9D9D9); 
    box-sizing: border-box;
    font-size: 15px;
    text-align:center;
    height: 20px;
    width: 20px;
}

/**card section**/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
.section-title {
    margin: 0;
    font-size: 22px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.hebergements .card
{
    display: flex;
    flex-direction: column;
    width: 280px;
}
.card img {
    object-fit: cover;
}
.card-title {
    font-weight: 700;
    font-size: 16px;
    object-fit: cover;    
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.show-more {
    margin-top: 50px;
    margin-left: 20px;
}
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;    
}
.hebergements {
    background-color: var(--main-bg-color);
}
.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.hebergements-card {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.hebergement-cards .card-title {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 20px;
}
.hebergement-cards .fa-star {
    margin : -1px;
}
.hebergement-cards  .card-subtitle {
    margin-top:5px;
    margin-bottom: 0px;
    font-size: 16px;
}
.hebergement-cards .card-rating {
    margin-top:10px;
    margin-bottom: 10px;
}
.hebergement-cards .card-content {
    margin-left: 10px;   
}

/****** Hebergements ***********/
.hebergements {
    margin-right:30px;
}
.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergement-cards {
    display: flex;
    justify-content: space-between;
    gap:30px;
    flex-flow: row wrap;
    margin-top: 33px;   
}
.hebergements .card {
    display:flex;
    align-items: flex-start;    
}
.hebergement-cards img {
    height: 140px;
    align-self: stretch;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 42%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards 
{
    width : 110%;
    margin-left: -4%;
}

.populaires-cards img {
    width: 40%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 18px;
}

.populaires-cards .card-subtitle {
    margin-top: 10px;
    margin:0px;
    font-size: 16px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/** ACTIVITES **/
.activites {
    display: flex;
    padding: 30px;
    gap: 30px;
}
.activites-title {
    padding:30px;
    margin-bottom: -30px;
}
.activites-card {
    width : 297px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}
.activites-card img {
    object-fit:cover;
    width : 297px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}
.activites-card h2 {
    display: flex;
    padding-left:20px;
    border-radius: 0px 0px 20px 20px;
    font-size: 16px;
}

/* footer */
footer {    
    background: var(--Grey, #F2F2F2);
    line-height: 230%;
}
.footer-content {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    justify-content: space-between;
}
.a-propos, .nos-hebergements, .assistance {
    display: flex;
    flex-direction: column;
}
.assistance {
    margin-right: 200px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/*1024 à 1440px*/
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px)  */
@media (max-width: 1024px) {

    /*margin issue*/
 
    /*Menu*/
    .menu-img {
        width: 20%;
    }
    .blue-bar {
        margin-left: 60%;
        font-size: 25px;
    }
    .blue-bar :hover {
        padding-top: 14.5%;
    }
    .booki-title {
        font-size: 32px;
    }
    /*Filters*/
    .filters {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }
    .filters section {
        display: flex;
        justify-content: space-around;
        margin-top: 1%;
        margin-bottom: 2%;
        word-spacing: 20%;
        width : 90%;
        font-size:20px;
        font-weight: 700;
        border-radius: 90px;
        margin-left: -2%;
    }
    .info p {
        font-size: 18px;
    }
    .info {
        margin-bottom : 5%;
    }
    /*Hebergements*/
    .hebergements-and-populaires {
        flex-direction: column;
        width : 108%;
    } 
    .hebergement-cards
    {
        padding: 0.1%;
        width: 100%;
    }

    /*width issue*/
    .hebergements {
        margin-left: -4%;
        width: 100%;
    }
    /*populaires*/
    .populaires {
        margin-left: -4%;
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: -5%;
        margin-top: -2%;
        gap : 2%;
    }
    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /*activites*/
    .activites  {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: -3%;
        margin-bottom: 3%;
    }
    .activites-card
    {
        height: 500px;
    }
 
    .activites img {
        object-fit:cover;
        width: 100%;
        height: 85%;
    }

    footer
    {
        width: 1023px;
        margin-left: -5.5%;
    }
}

/* Small devices (phones, less than 768px) */
/*conseil à 375px*/
@media (max-width: 767.98px) {
    /* ... */
     /*menu*/
    .menu-img {
        display: flex;
        margin-top: 10%;
        padding-left: 32%;
        width: 30%;
        justify-content: center;
        align-items: center;
    }
    /*Padding issue    
    How should I do for the blue bar ?
    It's stucked on the text and add a padding-bottom make everything move
    */
    .blue-bar {
        display: flex;
        align-items: center;
        margin-left: -5%;
        margin-top: 10%;
        font-size : 120%;
    }
    .blue-bar
    {
        display: flex;
        border-bottom: 2px solid var(--filter-bg-color);  

    }
    .blue-bar :hover
    {
        color : var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-top: none;  
    }
    .booki-title {
        display: flex;
        font-size: 158%;
        width:90vw;
        margin-left: -10%;
    }
    .booki-subtitle {
        font-size : 110%;
        width:90vw;
        margin-left: -10%;
    }     

    /*form*/
    .search-bar {
        width: 305px;
        margin-left: -15%;
        margin-top: 10%;
    }
    .search-bar input {
        font-size: 140%;
        width: 305px;
    }  
    .search-button {
        visibility: hidden;
    }
    .fa-search {
        visibility: visible;
        display: flex;
        align-items: center;
        background-color: var(--main-color);
        color:white;
        padding-left: 2%;
        font-size: 30px;
        width: 45px;
        height: 53px;
        border-radius: 15px 15px 15px 15px;
        border: 1px solid var(--Blue, #0065FC);
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    }

    /*Filters*/
    .filters h2 {
        margin-left: -10%;
        font-size: 30px;
    }
    .filters section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40%;
    }
    .filters a {
        font-size: 80%;
        height : 120%;
        width : 150px;
    }

    /*Info*/
    .info p {
        margin-top: 20%;
        font-size: 100%;
        margin-left: -10%;
        width:140%;
    }  
    .info i {
       height: 30px;
       width: 30px;
       font-size: 20px; 
    } 

    /*Hebergements and populaires*/  
    .hebergements-and-populaires {
        flex-direction: column-reverse; 
        margin-left: -15%;
        width:140%;
        border-radius: none;

    }
    .hebergements-and-populaires section {
        border-radius: 0px;
    }
    .hebergements {
        background-color: white;
        margin-top: 10%;
        filter:unset;
    }
    .hebergements img {
        height: 70%;
    }
    .populaires {
        background-color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
    }
    .populaires-cards {
        display: flex;
        flex-flow: column;
    }

    /*width issue due to the images*/
    .hebergements .card {
        width : 539.69px;
        height: 300px;
    }  
    .hebergement-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .show-more {
        margin-left: 1%;
    }

    /*Activites*/
    .activites {
        display: flex;
        flex-direction: column;
        margin-left:-13%;
        margin-top: 5%;
        padding-right: 21%;
    }
    .activites-title {
        margin-left: -10%;
        font-size : 30px;
    }
    .activites-card {
        display: flex;
        margin-top: 5%;
        margin-bottom: 35%;
        padding-right: 360%;
        width: 97.6%;
    }  
    .activites-card img {
        object-fit: cover;
        width : 704px;
        height: 281.109px;
    }
    .activites-card h2 {
        display: flex;
        padding-top: 2%;
        padding-left: 5%;
        font-size: 150%;
    }
    
    /*FOOTER*/
    footer {
        width: 800px;
        margin-left: -15%;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
    }
    .a-propos, .nos-hebergements, .assistance {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-bottom: 10px;
    }
}