/****** General ***********/
* {
	font-family: 'Raleway', sans-serif
}
:root {
	--main-color: #0065FC;
	--main-bg-color: #F2F2F2;
	--filter-bg-color: #DEEBFF
}
.fa-solid {
	color: var(--main-color)
}
/*NavBar*/
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 30px
}
nav ul {
	display: flex;
	height: 100px;
	/*had to use fixed value, in percentage it doesn't work*/
}
nav ul li {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%
}
nav li a:hover:before {
	content: "";
	width: 100%;
	position: absolute;
	border-top: 3px solid var(--main-color);
	top: 0;
	left: 0
}
/************************ Main ************************/
/*Search bar*/
.header-container{
	margin-left: 1%
}
.header-container h1{
	font-weight: 700;
	line-height: 40px
}
p {
	font-size: 130%
}
body {
	display: flex;
	justify-content: center;
	margin:0px;
	margin-top: -0.9%
}
.form-search {
	display: flex;
	border: 1px solid var(--main-bg-color);
	border-radius: 10px;
	height: 49px;
	/*fixed values again*/
	width: 40%;
	margin-bottom: 2%
}
.form-search i {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	border-radius: 10px 0 0 10px;
	width: 15%
}
.searchBar {
	width: 50%;
	border: none;
	margin-left: 12%;
	font-size: 18px;
	font-weight: 700
}
.searchBar:focus {
	outline: none
}
.buttonSearch {
	width: 40%;
	border-radius: 0 10px 10px 0;
	background-color: var(--main-color);
	border: none;
	font-size: 18px;
	font-weight: 700;
	color: var(--main-bg-color)
}
.buttonSearch:hover {
	cursor: pointer
}
.buttonSearch i {
	display: none;
	/*or you can use the visibility*/
}
/**filters section**/
.filters {
	display: flex;
	align-items: center;
	gap:20px
}
.filterSection{
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%
}
.filter{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--grey-tint-2, #D9D9D9);
	border-radius: 40px;
	font-size:18px;
	font-weight: 700;
	margin-left: 20px;
	padding: 0 20px;
	width : 180px;
	height: 40px
}
.filterSection :hover {
	background-color: #DEEBFF;
	cursor: pointer;
	transform: scale(1.05);
	/*wasn't asked but I know how to use it so..*/
}
.filter p {
	font-size: 13px;
	font-weight: 900
}
.filters i {
	padding:5px
}
/*Information section*/
.info i {
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	background-color: white;
	border: 2px solid var(--grey-tint-2, #D9D9D9);
	box-sizing: border-box;
	font-size: 15px;
	text-align:center;
	height: 20px;
	width: 20px
}
/**card section**/
.main-container {
	width: 100%;
	max-width: 1440px;
	padding: 0 50px;
	box-sizing: border-box
}
a {
	color: inherit;
	text-decoration: none
}
.section-title {
	margin: 0;
	font-size: 22px
}
.card {
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
}
#hebergements .card{
	display: flex;
	flex-direction: column;
	width: 280px
}
.card img {
	object-fit: cover
}
.card-title {
	font-weight: 700;
	font-size: 16px;
	object-fit: cover
}
.euro {
	font-weight: 700
}
.neutral-star {
	color: var(--main-bg-color)
}
/****** Hebergements And Populaires ***********/
.show-more {
	margin-top: 50px;
	margin-left: 20px
}
.hebergements-and-populaires {
	display: flex;
	justify-content: space-between
}
#hebergements {
	background-color: var(--main-bg-color)
}
.hebergements-and-populaires section {
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box
}
.hebergements-card {
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 20px;
	padding: 30px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
}
.hebergement-cards .card-title {
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 20px
}
.hebergement-cards .fa-star {
	margin : -1px
}
.hebergement-cards .card-subtitle {
	margin-top:5px;
	margin-bottom: 0px;
	font-size: 16px
}
.hebergement-cards .card-rating {
	margin-top:10px;
	margin-bottom: 10px
}
.hebergement-cards .card-content {
	margin-left: 10px
}
/****** Hebergements ***********/
#hebergements {
	margin-right:30px
}
.hebergements-title {
	display: flex;
	justify-content: space-between;
	align-items: center
}
.hebergement-cards {
	display: flex;
	justify-content: space-between;
	gap:30px;
	flex-flow: row wrap;
	margin-top: 33px
}
#hebergements .card {
	display:flex;
	align-items: flex-start
}
.hebergement-cards img {
	height: 140px;
	align-self: stretch;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px
}
/****** Populaires ***********/
.populaires {
	width: 42%;
	background-color: var(--main-bg-color)
}
.populaires-title {
	display: flex;
	justify-content: space-between;
	align-items: center
}
.populaires-cards .card {
	display: flex;
	margin-top: 33px
}
.populaires-cards{
	width : 110%;
	margin-left: -4%
}
.populaires-cards img {
	width: 40%;
	height: 136px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px
}
.populaires-cards .card-content {
	width: 67%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box
}
.populaires-cards .card-title {
	margin-top: 10px;
	margin-bottom: 4px;
	font-size: 18px
}
.populaires-cards .card-subtitle {
	margin-top: 10px;
	margin:0px;
	font-size: 16px
}
.populaires-cards .card-rating {
	margin-bottom: 5px
}
/** ACTIVITES **/
#activites {
	display: flex;
	padding: 30px;
	gap: 30px
}
.activites-title {
	padding:30px;
	margin-bottom: -30px
}
.activites-card {
	width : 297px;
	border-radius: 20px;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10)
}
.activites-card img {
	object-fit:cover;
	width : 297px;
	height: 380px;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10)
}
.activites-card h2 {
	display: flex;
	padding-left:20px;
	border-radius: 0px 0px 20px 20px;
	font-size: 16px
}
/* footer */
footer {
	max-width: 1400px;
	background: var(--Grey, #F2F2F2)
}
.footer-container {
	display: flex;
	margin: 70px 20px 0 20px;
	padding: 70px 45px;
}
.footer-content {
	width: 33%
}
.footer-content li {
	list-style-type: none
}
.footer-content h3 {
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 20px;
	margin-left: 40px
}
.footer-content a {
	font-size: 16px;
	font-weight: 400;
	line-height: 30px
}
.footer-content a:hover {
	color: var(--main-color)
}
/* Le code ci-dessous correspond à la version responsive uniquement */
/*1024 à 1440px*/
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	/*margin issue*/
	body {
		margin-left: -6%
    }
	nav ul {
		margin-top: 1%
    }
	/*Menu*/
	.searchBar {
		font-size: 14px
    }
	.form-search {
		width: 50%
    }
	.filterSection {
		justify-content: space-around;
		padding: 0 20px
    }
	/*Hebergements*/
	.hebergements-and-populaires{
		flex-direction: column;
		width : 112%;
		margin-left: 7%
    }
	/*width issue*/
	#hebergements{
		margin-left: -4%;
		width: 100%
    }
	/*populaires*/
	.populaires{
		margin-left: -4%;
		width: 100%;
		margin-top: 50px
    }
	.populaires-cards{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-left: -5%;
		margin-top: -2%;
		gap : 2%
    }
	.populaires-cards a{
		width: 30%
    }
	.populaires-cards .card-title{
		font-size: 14px
    }
	.populaires-cards .card-subtitle{
		font-size: 13px
    }
	/*activites*/
	#activites{
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-left: 5%
    }
	.activites-card{
		height: 500px
    }
	#activites img{
		object-fit:cover;
		width: 100%;
		height: 85%
    }
	footer{
		width: 113%
    }
}
/* Small devices (phones, less than 768px) */
/*tip, work at 375px*/
@media (max-width: 767.98px) {
	nav,.header-container{
		margin: 0 0
    }
	nav a,.header-container,p {
		margin: 5% 5%
    }
	.header-container h1 {
		line-height: 1
    }
	.header-container p {
		margin: 15px 0
    }
	.header-container {
		margin: 40px 40px 0 40px
    }
	header p {
		margin: 0 5% 10% 5%
    }
	nav {
		flex-direction: column
    }
	nav ul {
		width: 100%;
		height: 50px
    }
	nav ul li {
		margin: 0 0;
		width: 50%
    }
	nav li a::before {
		content: "";
		width: 100%;
		height: 2px;
		position: absolute;
		background: var(--main-bg-color);
		top: 100%;
		left: 0
    }
	nav li a:hover:before {
		top: 100%
    }
	.form-search {
		width: 100%
    }
	/*form*/
	.buttonSearch {
		width: 15%;
		display: flex;
		justify-content: center;
		align-items: center
    }
	.searchBar {
		width: 75%
    }
	.buttonSearch span {
		display: none
    }
	.buttonSearch i {
		/* margin: 0 auto;
		*/
		display: block;
		background: var(--primary-color);
		color: white;
		transform: translateX(-80%) /*instead of using margin-left negative*/
    }
	/*Filters*/
	.filters{
		padding-right: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		height: 100%
    }
	.filterSection {
		margin-left: -15%;
		display: grid;
		grid-template-columns: repeat(2, 20%);
		row-gap: 20%;
		column-gap: 3%;
		padding: 0
    }
	.filter {
		flex: 1 1 47%;
		min-width: 150px;
		margin-left: 0;
		padding-left: 15px;
		justify-content: left
    }
	/*Info*/
	.info p{
		margin-top: 20%;
		font-size: 125%;
		width:120%;
		margin-bottom: -10%;
		margin-top: 20%
    }
	.info i{
		height: 30px;
		width: 30px;
		font-size: 20px;
		margin-left: -5%
    }
	/*Hebergements and populaires*/
	.hebergements-and-populaires{
		display: flex;
		flex-direction: column-reverse;
		margin-top:5%
    }
	.hebergements-and-populaires section{
		border-radius: 0px
    }
	#hebergements{
		background-color: white;
		margin-top: 10%;
		filter:unset;
		width: 385px
    }
	.populaires{
		background-color: var(--main-bg-color);
		display: flex;
		flex-direction: column;
		width:100%
    }
	.populaires-cards{
		display: flex;
		flex-flow: column
    }
	.populaires .card{
		display: flex;
		justify-content: center;
		width: 310%;
		height: 200px;
		margin-left: -110%;
		padding-bottom: -20%;
    }
	.populaires img{
		margin-left: -8%;
		height: 100%;
		width: 25%
    }
	.populaires .card-title{
		font-size: 170%
    }
	.populaires .card-subtitle{
		font-size: 140%
    }
	.populaires .card-rating{
		font-size: 150%
    }
	/*width issue due to the images*/
	#hebergements .card{
		display: flex;
		margin-left: -5%;
		width : 650px;
		height: 300px
    }   
	.hebergement-cards{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%
    }
	.hebergements-cards .card{
		width: 100%
    }  
	#hebergements img{
		height: 55%
    }
	#hebergements .card-title{
		margin-top: 5%;
		font-size: 180%
    }
	#hebergements .card-subtitle{
		margin-top: 5%;
		font-size: 120%
    }
	#hebergements .card-rating{
		margin-top: 10%;
		font-size: 100%
    }
	.show-more{
		margin-left: 1%
    }
	/*Activites*/
	#activites{
		display: flex;
		flex-direction: column;
		margin-top: 5%;
		padding: 0%;
		width: 100%
    }
	.activites-title{
		font-size : 170%
    }
	.activites-card{
		margin-top: 5%;
		width: 100%;
		height :100%
    }
	/*as usual fixed images because that's not the right size*/
	.activites-card img{
		object-fit: cover;
		width : 100%;
		height: 300px
    }
	.activites-card h2{
		display: flex;
		font-size: 150%
    }
	/*FOOTER*/
	.footer-container {
		flex-direction: column;
		margin: 50px 0 0 0;
		height: 1%
    }
	footer {
		height: 11%
    }
}
